{% extends "user_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
<div class="jumbotron">
    {% if registerd %}
       <h1>thankyou!!! for registring</h1>
    {% else %}
        <h1>Register Here!</h1>
        <h3>FILL OUT THE FORM :-</h3>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ user_form.as_p}}
            {{ profile_form.as_p}}

            <input type="submit" name="" value="Register">


        </form>
    {% endif %}

</div>

{% endbblock %}